// body {
//   // background-color: findLightColor($primary);
// }
html {
  overflow: hidden;
}
$export-colors: (
  purple: $purple,
  blue: $blue,
  cyan: $cyan,
  turquoise: $turquoise,
  yellow: $yellow,
  green: $green,
  orange: $orange,
  red: $red,
);
$export-vars: (
  block-spacing: $block-spacing,
  gap: $gap,
  bp-tablet: $tablet,
  bp-desktop: $desktop,
);
:root {
  @each $name, $color in $export-colors {
    --#{$name}: #{$color};
    --#{$name}-dark: #{findDarkColor($color)};
    --#{$name}-light: #{findLightColor($color)};
  }
  @each $name, $val in $export-vars {
    --#{$name}: #{$val};
  }
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b1ab9c;
    &:hover {
      background-color: rgb(107 103 93);
    }
  }
}

@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/font/NotoSansMono/NotoSansMono-Regular.ttf");
}
@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/font/NotoSansMono/NotoSansMono-Bold.ttf");
}

// body {
//   &::after {
//     @include arrow(#000);
//     content: "";
//     position: fixed;
//     bottom: 2rem;
//     left: 50%;
//     top: auto;
//   }
// }
